{% extends 'admin_base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}

    <div id="wrapper" class="admin-panel">

        <!-- menu -->
        <div class="page-menu">
            <!-- btn close on small devices -->
            <span class="btn-menu-close" uk-toggle="target: #wrapper ; cls: mobile-active"></span>
            <!-- traiger btn -->
            <span class="btn-menu-trigger" uk-toggle="target: .page-menu ; cls: menu-large"></span>

            <!-- logo -->
            <div class="logo uk-visible@s">
                <a href="{% url 'admindash' %}" class="logo">
                    <img src="{% static 'images/VES.png' %}" alt="">

                </a>

            </div>
            <div class="page-menu-inner" data-simplebar>


            </div>
        </div>

        <!-- Header Container
        ================================================== -->
        {% include 'partials/admin_partials/_header.html' %}

        <!-- content -->
        <div class="page-content">
            <div class="page-content-inner">

                <div class="d-flex">
                    <nav id="breadcrumbs" class="mb-3">
                        <ul>
                            <li><a href="#"> <i class="uil-home-alt"></i> </a></li>
                            <li><a href="{% url 'productDetails' %}"> Product Details </a></li>
                            <li>Create product</li>
                        </ul>
                    </nav>
                </div>
                <div class="card">
                    <div class="card-header border-bottom-0 py-4">
                        <h5> Product Creation </h5>
                    </div>
                    <ul class="uk-child-width-expand uk-tab"
                        uk-switcher="connect: #course-edit-tab ; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                        <li class="uk-active"><a href="#"> Basic</a></li>
                        <!-- {#                        <li><a href="#"> Curriculum</a></li>#} -->
                        <li><a href="#">Product Info</a></li>
                        <li><a href="#">Product Rating</a></li>
                        <li><a href="#">Finish</a></li>
                    </ul>
                    <form method="POST" enctype="multipart/form-data" onsubmit="return validateForm()" name="myForm">
                        <div class="card-body">
                            <ul class="uk-switcher uk-margin" id="course-edit-tab">

                                <li>

                                    <div class="row">
                                        <div class="col-xl-9 m-auto">
                                            {#             Form                           #}

                                            {% csrf_token %}
                                            <div class="form-group row mb-3">
                                                <label class="col-md-3 col-form-label" for="course_title">Product
                                                    category<span
                                                            class="required">*</span></label>
                                                <div class="col-md-9">
                                                    <select name="category">
                                                        <option selected disabled>Choose Category</option>
                                                        {% for cag in category_list %}
                                                        <option value="{{cag.category}}">{{cag.category}}</option>
                                                        {% endfor %}
                                                    </select>

                                                </div>

                                            </div>

                                            <div class="form-group row mb-3">
                                                <label class="col-md-3 col-form-label" for="course_title">Sub
                                                    category<span
                                                            class="required">*</span></label>
                                                <div class="col-md-9">
                                                    <select name="sub_cat">
                                                        <option selected disabled>Choose Sub category</option>
                                                         {% for cfp in cfp_list %}
                                                        <option value="{{cfp.cat_sub}}">{{cfp.cat_sub}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-3">
                                                <label class="col-md-3 col-form-label" for="course_title">Product
                                                    name<span
                                                            class="required">*</span></label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="course_title"
                                                           name="pro_name"
                                                           placeholder="Enter product name">
                                                </div>
                                            </div>
                                            <div class="form-group row mb-3">
                                                <label class="col-md-3 col-form-label" for="short_description">Short
                                                    description</label>
                                                <div class="col-md-9">
                                                <textarea name="descrip" id="short_description"
                                                          class="form-control"
                                                          placeholder="Enter Description Here"></textarea>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </li>
                                    <li>

                                        <div class="row justify-content-center">
                                            <div class="col-xl-9">
                                                <div class="form-group row mb-3">

                                                    <div class="col-md-9">

                                                        <div class="form-group row mb-3">
                                                            <label class="col-md-3 col-form-label" for="short_description">Product
                                                                Image</label>
                                                            <div class="col-md-9">
                                                                <input type="file" id="real-file" name="img1"
                                                                       hidden="hidden"/>
                                                                <a class="btn btn-default mb-3" onclick=""
                                                                   id="Upload-button"> <i
                                                                        class='uil-plus'></i>Upload</a>
                                                                <span id="custom-text">No file choosen</span>

                                                                <script type="text/javascript">
                                                                    const realFileBtn = document.getElementById("real-file");
                                                                    const CustomBtn = document.getElementById("Upload-button");
                                                                    const customTxt = document.getElementById("custom-text");
                                                                    CustomBtn.addEventListener("click", function () {
                                                                        realFileBtn.click()

                                                                    });

                                                                    realFileBtn.addEventListener("change", function () {
                                                                        if (realFileBtn.value) {
                                                                            customTxt.innerHTML = realFileBtn.value.match(
                                                                                /[\/\\]([\w\d\s\.\-\(\)]+)$/
                                                                            )[1];
                                                                        } else {
                                                                            customTxt.innerHTML = "No file chosen, yet.";
                                                                        }
                                                                    });

                                                                </script>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- end col -->

                                        </div>

                                    </li>





                                <li>

                                    <div class="row justify-content-center">
                                        <div class="col-xl-9">
                                            <div class="form-group row mb-3">
                                                <label class="col-md-3 col-form-label">Product Price</label>
                                                <div class="col-md-9">
                                                    <input type="number" class="form-control" name="pro_price"
                                                           placeholder="Enter Product Price">
                                                </div>
                                            </div>
                                            <div class="form-group row mb-3">
                                                <label class="col-md-3 col-form-label">Product Rating</label>
                                                <div class="col-md-9">
                                                    <input type="number" class="form-control" name="rating"
                                                           placeholder="Enter Points">
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </li>


                                <li>
                                    <div class="row">
                                        <div class="col-12 my-lg-5">
                                            <div class="text-center">
                                                <h2 class="mt-0"><i class="icon-feather-check-circle text-success"></i>
                                                </h2>
                                                <h3 class="mt-0">Done !</h3>

                                                <p class="w-75 mb-2 mx-auto"> Submit Product Informations </p>

                                                <div class="mb-3 mt-3">
                                                    <input type="submit" class="btn btn-default" name="course_submit"
                                                           onclick="Learnsubmit(); Reqsubmit();">
                                                </div>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>

                </div>     <!--End Of card body -->
            </div>         <!--End Of card -->


            <!-- add lessson div clone hidden element hari -->
            <div style="display:none" class="clone_lesson_div">
                <ul class="c-curriculum" uk-accordion>

                    <li class="uk-open" id="lesson-module">

                        <a class="uk-accordion-title" href="#"> <i class="uil-folder"></i>
                            <span id="editLesson" contenteditable="True">Lesson title</span></a>

                        <div class="action-btn">
                            <a href="#" class="add_topic_btn"> <i class="uil-plus"> </i> Add Topic </a>

                            <a href="#" class="close-lesson"><i class="icon-feather-x"></i></a>
                        </div>
                        <div class="uk-accordion-content">
                            <ul class="sec-list" uk-sortable="handle: .uk-sortable-handle">
                                <li>
                                    <div class="sec-list-item">
                                        <div class="uk-width-expand"><i class="uil-list-ul uk-sortable-handle"></i>
                                            <label class="mb-0 mx-2">
                                                <input class="uk-checkbox" type="checkbox">
                                            </label>
                                            <input type="text" class=" uk-input my-auto uk-width-expand " type="text"
                                                   style="border:none;" name="topic" placeholder="Topic">
                                        </div>
                                        <div>
                                            <div class="btn-act">
                                                <div class="aaa">
                                                    <label for="file-input">
                                                        <i class="uil-cloud-download"/></i></label>
                                                    <input type="file" id="file-input" style="display:none;"/>
                                                </div>
                                                <a href="#" class="close-topic"><i class="icon-feather-x"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div style="display:none" class="clone_topic_div">
                <li>
                    <div class="sec-list-item" id="topic-module">
                        <div class="uk-width-expand"><i class="uil-list-ul uk-sortable-handle"></i>
                            <label class="mb-0 mx-2">
                                <input class="uk-checkbox" type="checkbox">
                            </label>
                            <input class=" uk-input my-auto uk-width-expand " type="text" style="border:none;"
                                   name="topic" placeholder="Topic">
                        </div>
                        <div>
                            <div class="btn-act">
                                <div class="aaa">
                                    <label for="file-input">
                                        <i class="uil-cloud-download"/></i></label>
                                    <input type="file" id="file-input" style="display:none;"/>
                                </div>
                                <a href="#" class="close-topic"><i class="icon-feather-x"></i></a>
                            </div>
                        </div>
                    </div>
                </li>

            </div>
            <!-- add lessson div clone hidden element hari-->


            <!-- For Night mode -->
            <script>
                (function (window, document, undefined) {
                    'use strict';
                    if (!('localStorage' in window)) return;
                    var nightMode = localStorage.getItem('gmtNightMode');
                    if (nightMode) {
                        document.documentElement.className += ' night-mode';
                    }
                })(window, document);


                (function (window, document, undefined) {

                    'use strict';

                    // Feature test
                    if (!('localStorage' in window)) return;

                    // Get our newly insert toggle
                    var nightMode = document.querySelector('#night-mode');
                    if (!nightMode) return;

                    // When clicked, toggle night mode on or off
                    nightMode.addEventListener('click', function (event) {
                        event.preventDefault();
                        document.documentElement.classList.toggle('night-mode');
                        if (document.documentElement.classList.contains('night-mode')) {
                            localStorage.setItem('gmtNightMode', true);
                            return;
                        }
                        localStorage.removeItem('gmtNightMode');
                    }, false);

                })(window, document);


                function validateForm() {
                    var title = document.forms["myForm"]["title"].value;
                    var tagline = document.forms["myForm"]["tagline"].value;

                    if (title == "") {
                        alert("Course Title must not be empty");
                        return false;
                    }

                    if (tagline == "") {
                        alert("Course Tagline must not be empty");
                        return false;
                    }


                }


            </script>

        </div>
    </div>
    </div>


{% endblock %}
