{% extends 'admin_base.html' %}
{% block title %}
Category Creation
{% endblock %}
{% block content %}

    <div id="wrapper" class="admin-panel">

    {% include 'partials/admin_partials/_header.html' %}

    <div class="page-content">
            <div class="page-content-inner">

                <div class="d-flex">
                    <nav id="breadcrumbs" class="mb-3">
                        <ul>
                            <li><a href="#"> <i class="uil-home-alt"></i> Dashboard</a></li>
                            <li> Category Creation </li>
                        </ul>
                    </nav>
                </div>

                <div class="row">


                  <div class="col-md-7" >
                    <div class="uk-width-4-4@m my-3">
                      {% include 'partials/_alerts.html' %}
                        <div class="card rounded">
                          <div class=" py-2 px-4">
                              <h4 class="mb-0">Create Product Category </h4>

                          </div>
                          <hr class="m-0">
                          <div class=" container py-3 uk-width-expand">
                            <form name="categorycreate" method="POST">
                              {% csrf_token %}
                                <fieldset class="uk-fieldset">

                                    <!-- <legend class="uk-legend text-center">Create Career Category</legend> -->

                                    <div class="uk-margin mt-2">
                                        <input class="uk-input bg-secondary" name="cagname" type="text" placeholder="Type Category Here" required>
                                    </div>


                                    <div class="text-center">
                                      <button class="btn btn-default" name="category_submit">Create</button>
                                    </div>

                                </fieldset>
                            </form>
                            </div>
                        </div>
                    </div>


                    <div class="uk-width-expand my-5">
                        <div class="card rounded">
                          <div class=" py-2 px-4">
                              <h4 class="mb-0"> Create Sub Category </h4>

                          </div>
                          <hr class="m-0">
                          <div class=" container mt-2 py-3 px-5 uk-width-expand">
                            <form name="cfpcreate" method="POST">
                              {% csrf_token %}
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin uk-width-1-2">
                                        <select name="cat_cag" class="uk-select" required>
                                            <option disabled selected value>Choose sub Category</option>
                                            {% for cag in category_list %}
                                            <option value="{{cag.category}}">{{cag.category}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="uk-margin">
                                        <input class="uk-input bg-secondary" name="cat_sub" type="text" placeholder="Sub category" required>
                                    </div>
                                    <div class="text-center">
                                      <button class="btn btn-default" name="cfp_submit" onclick="Skillsubmit()">Create</button>
                                    </div>

                                </fieldset>
                            </form>


                            </div>
                        </div>
                    </div>
                  </div>






                  <div  class="col-md-5 my-3">

                    <div class="uk-width-expand">
                        <div class="card rounded">
                          <div class=" py-2 px-4">
                              <h4 class="mb-0">List of Category </h4>

                          </div>
                          <hr class="m-0">
                          <div class=" container py-4 uk-width-expand">



                                <table class="uk-table uk-table-small uk-table-hover uk-table-striped" uk-table-divider" >
                                  <thead>
                                      <tr>
                                          <th>C-Id</th>
                                          <th>Category</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for item in category_list %}
                                      <tr>
                                        <td>{{item.category_id}}</td>
                                        <td>{{item.category}}</td>
                                        <td><a href="{% url 'categoryEdit' item.category_id %}" class="btn btn-default">Edit</a></td>
                                      </tr>
                                      {% endfor %}

                                  </tbody>
                                </table>

                            </div>
                        </div>
                    </div>



                    <div class="uk-width-expand my-3">
                        <div class="card rounded">
                          <div class=" container py-4 uk-width-expand">

                                <div class="d-flex uk-flex-center">
                                  <div class="col-md-12 my-auto">
                                      <legend class="uk-legend">List Of Sub Category</legend>
                                  </div>

                                </div>

                                <hr style="width:70% mx-auto mt-0">

                                <table class="uk-table uk-table-small uk-table-hover uk-table-striped" uk-table-divider>
                                  <thead>
                                      <tr>
                                          <th>R-Id</th>
                                          <th>Role</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for item in cfp_list %}

                                      <tr>
                                        <td>{{item.cat_id}}</td>
                                        <td>{{item.cat_sub}}</td>
                                        <td><a href="{% url 'subEdit' item.pk %}" class="btn btn-default">View/Edit</a></td>
                                      </tr>

                                      {% endfor %}
                                  </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                  </div>
                </div>



            </div>

        </div>

        <!-- For Night mode -->
        <script>


            (function (window, document, undefined) {
                'use strict';
                if (!('localStorage' in window)) return;
                var nightMode = localStorage.getItem('gmtNightMode');
                if (nightMode) {
                    document.documentElement.className += ' night-mode';
                }
            })(window, document);


            (function (window, document, undefined) {

                'use strict';

                // Feature test
                if (!('localStorage' in window)) return;

                // Get our newly insert toggle
                var nightMode = document.querySelector('#night-mode');
                if (!nightMode) return;

                // When clicked, toggle night mode on or off
                nightMode.addEventListener('click', function (event) {
                    event.preventDefault();
                    document.documentElement.classList.toggle('night-mode');
                    if (document.documentElement.classList.contains('night-mode')) {
                        localStorage.setItem('gmtNightMode', true);
                        return;
                    }
                    localStorage.removeItem('gmtNightMode');
                }, false);

            })(window, document);


              // Random Password Generator

            var keylist="abcdefghijklmnopqrstuvwxyz123456789"
            var temp=''

            function generatepass(plength){
            temp=''
            for (i=0;i<plength;i++)
            temp+=keylist.charAt(Math.floor(Math.random()*keylist.length))
            return temp
            }

            function populateform(enterlength){
            document.pgenerate.password.value=generatepass(enterlength)
            }



            // Skill Addition

          // now, add a new to the TABLE.
          function addSkillRow() {
              var empTab = document.getElementById('SkillsTable');

              var rowCnt = empTab.rows.length;   // table row count.
              var tr = empTab.insertRow(rowCnt); // the table row.
              // tr = empTab.insertRow(rowCnt);

              for (var c = 0; c < 1; c++) {
                  var td = document.createElement('td'); // table definition.
                  td = tr.insertCell(c);
                      var ele = document.createElement('input');
                      ele.setAttribute('type', 'text');
                      ele.setAttribute('placeholder', 'Add Course Tag');
                      td.appendChild(ele);

              }
          }


          //To delete skills in the table
          function delSkillRow() {
              var empTab = document.getElementById('SkillsTable');

              var rowCnt = empTab.rows.length;   // table row count.
              var tr ; // the table row.
              tr = empTab.deleteRow(rowCnt-1);
              // rowCnt = empTab.rows.length;
              // tr = empTab.deleteRow(rowCnt-1);


          }


          // function to extract and submit table data.
          function Skillsubmit() {
              var myTab = document.getElementById('SkillsTable');
              var arrValues =new Array()

              // loop through each row of the table.
              for (row = 0; row < myTab.rows.length ; row++) {
                // loop through each cell in a row.
                  for (c = 0; c < myTab.rows[row].cells.length; c++) {
                      var element = myTab.rows.item(row).cells[c];
                      if (element.childNodes[0].getAttribute('type') == 'text') {
                          arrValues.push(element.childNodes[0].value);
                      }
                  }
              }

              var str="";
              for(i=0;i<arrValues.length;i++)
              {
                  len=arrValues[i].trim().length
                  if (len==0)
                  {
                    continue;
                  }
                  else{
                    str=str.concat(arrValues[i]);
                    str=str+'_';

                  }

              }

              req_str=str.substring(0,str.length-1)

              // The final output.
              // document.getElementById('Reqoutput').innerHTML = req_str;

              var ele1=document.getElementById('sout');
              ele1.setAttribute('value',req_str);
          }
        </script>


    </div>
{% endblock %}
