{% extends 'admin_base.html' %}
{% block title %}
Role Creation
{% endblock %}
{% block content %}

    <div id="wrapper" class="admin-panel">

    {% include 'partials/admin_partials/_header.html' %}

    <div class="page-content">
            <div class="page-content-inner">

                <div class="d-flex">
                    <nav id="breadcrumbs" class="mb-3">
                        <ul>
                            <li> Role Creation</li>
                        </ul>
                    </nav>
                </div>

                    <div class="uk-width-3-5@m">
                        {% include 'partials/_alerts.html' %}
                        <div class="card rounded">
                          <div class=" py-2 ">
                              <h4 class="mb-0 mx-3">Create Role</h4>
                          </div>
                          <hr class="m-0">
                          <div class="container py-3 uk-width-expand">
                            <form name="pgenerate" method="POST">
                              {% csrf_token %}
                                <fieldset class="uk-fieldset">


                                    <div class="uk-margin uk-width-1-5">
                                        <select class="uk-select" name="role" required>
                                            <option disabled selected value>Role</option>
                                            <option>Sub Admin</option>
                                            <option>Client</option>
                                        </select>
                                    </div>


                                    <div class="uk-margin">
                                        <div class="uk-inline d-flex">
                                        <div class="mt-1 uk-width-expand">
                                            <input class="uk-input bg-secondary uk-width-expand" name="fname" type="text" placeholder="Firstname" required>
                                        </div>
                                             &nbsp;&nbsp;&nbsp;
                                        <div class="mt-1 uk-width-expand" >
                                            <input class="uk-input bg-secondary uk-width-expand" name="lname" type="text" placeholder="Lastname" required>
                                        </div>
                                        </div>

                                    </div>


                                    <div class="uk-margin">
                                        <input class="uk-input bg-secondary" name="email" type="text" placeholder="Email" required>
                                    </div>

                                    <div class="uk-margin">
                                        <div class="uk-inline d-flex">
                                            <div class="mt-1">
                                              <input type="button" class="btn btn-default btn-sm"  value="Generate Password" onClick="populateform(8)" required>
                                            </div>
                                            <div class="mt-2 ml-3 ">
                                              <input class="uk-input bg-secondary" name="password" type="text" placeholder="Password">
                                            </div>

                                        </div>
                                    </div>




                                    <div class="text-center">
                                      <button class="btn btn-default" name="create">Create</button>
                                    </div>

                                </fieldset>
                            </form>
                            </div>
                        </div>
                    </div>



                    <div class="uk-width-3-6@m">
                        <div class="card rounded">
                          <div class=" container py-4 uk-width-expand">
                             <form method="POST">
                              {% csrf_token %}
                              <fieldset class="uk-fieldset">

                                <div class="d-flex">
                                  <div class="col-md-4 uk-margin my-auto">
                                      <select class="uk-select uk-width-auto" name="roleSort" onchange="submit()">
                                          <option >Sort Role</option>
                                          <option value="ALL">All</option>
                                          <option value="CSM">CSM</option>
                                          <option value="PCM">PCM</option>
                                          <option value="TL">TL</option>
                                          <option value="Instructor">Instructor</option>
                                      </select>
                                  </div>
                                  <div class="col-md-8 my-suto">
                                      <legend class="uk-legend">List of Roles</legend>
                                  </div>
                                </div>
                              </fieldset>
                             </form>


                                <hr style="width:70% mx-auto mt-0">

                                <table class="uk-table uk-table-divider" >
                                  <thead>
                                      <tr>
                                          <th>Id </th>
                                          <th>Role</th>
                                          <th>Name</th>
                                          <th>Email</th>
                                          <th>Created Date</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% if roles %}
                                      {% for role in roles %}
                                      <tr>
                                          <td>{{role.role_user_id}}</td>
                                          <td>{{role.user_role}}</td>
                                          <td>{{role.user_id.first_name}} {{ role.user_id.last_name }}</td>
                                          <td>{{role.role_user_email}}</td>
                                          <td>{{role.role_create_date | date}}</td>
                                          <!-- <td><button class="uk-button-danger btn btn-alert" type="button" name="Remove" >Remove</button></td> -->
                                          <td><button class="uk-button-danger btn btn-alert" type="button" name="Remove" uk-toggle="target: #modal-del">Remove</button></td>

                                          <!-- Remove Button Click Warning Message Modal -->
                                          <div id="modal-del" uk-modal>
                                            <div class="uk-modal-dialog uk-modal-body">
                                              <form name="removeentry" method="POST">
                                                {% csrf_token %}

                                                <h2 class="uk-modal-title">WARNING!!!</h2>
                                                <p>Are You sure you want to delete this role?</p>
                                                <p class="uk-text-right">
                                                  <!-- The below hidden input tag is to pass the particular role_user_id that i want to delete -->
                                                  <p>Enter Role ID:</p>
                                                    <input type="text" name="del_id" required>
                                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                    <button class="uk-button uk-button-primary" name="delete" type="submit">Yes I am Sure</button>
                                                </p>
                                              </form>
                                            </div>
                                        </div>


                                      </tr>
                                      {% endfor %}
                                    {% endif %}
                                  </tbody>
                                </table>


                              <!-- </fieldset>
                          </form> -->
                            </div>
                        </div>
                    </div>
            </div>

        </div>

        <!-- For Night mode -->
        <script>


            (function (window, document, undefined) {
                'use strict';
                if (!('localStorage' in window)) return;
                var nightMode = localStorage.getItem('gmtNightMode');
                if (nightMode) {
                    document.documentElement.className += ' night-mode';
                }
            })(window, document);


            (function (window, document, undefined) {

                'use strict';

                // Feature test
                if (!('localStorage' in window)) return;

                // Get our newly insert toggle
                var nightMode = document.querySelector('#night-mode');
                if (!nightMode) return;

                // When clicked, toggle night mode on or off
                nightMode.addEventListener('click', function (event) {
                    event.preventDefault();
                    document.documentElement.classList.toggle('night-mode');
                    if (document.documentElement.classList.contains('night-mode')) {
                        localStorage.setItem('gmtNightMode', true);
                        return;
                    }
                    localStorage.removeItem('gmtNightMode');
                }, false);

            })(window, document);


              // Random Password Generator

            var keylist="abcdefghijklmnopqrstuvwxyz123456789"
            var temp=''

            function generatepass(plength){
            temp=''
            for (i=0;i<plength;i++)
            temp+=keylist.charAt(Math.floor(Math.random()*keylist.length))
            return temp
            }

            function populateform(enterlength){
            document.pgenerate.password.value=generatepass(enterlength)
            }




// $(document).ready(function(){
//   $("#myInput").on("onchange", function() {
//     var value = $(this).val()
//     $("#myTable tr").filter(function() {
//       $(this).toggle($(this).text().indexOf(value) > -1)
//     });
//   });
// });

        </script>


    </div>
{% endblock %}
