{% extends 'base.html' %}{% load static %}
{% block content %}


    <!-- slider Area Start-->
    {% include 'partials/_header/_header.html' %}
    <!--================login_part Area =================-->
    {% include 'partials/_alerts.html' %}
    <section class="login_part ">

        <div class="container">
            <div class="row ">
                 <form class="row contact_form" method="post" enctype="multipart/form-data">{% csrf_token %}

                <div class="col-lg-6">
                    <div class="login_part_text" style="height: 150px">
                        <div>
                            <div class="col-md-12 form-group p_star">
                                    Product Image 1:  <input type="file" name="img1" required>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                    Product Image 2:  <input type="file" name="img2" >
                            </div>
                            <div class="col-md-12 form-group p_star">
                                    Product Image 3:(optional)  <input type="file" name="img3" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form"style="height: 0px">
                        <div class="login_part_form_iner" >
                            <h4>Add your Products ! <br></h4>
                            <div class="col-md-12 form-group p_star">
                                  <select name="cmp_name" class="uk-select" required>
                                            <option disabled selected value>Choose Company</option>
                                            {% for cag in comp_list %}
                                            <option value="{{cag.shop_name}}">{{cag.shop_name}}</option>
                                            {% endfor %}
                                  </select>
                            </div>
                                 <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control"  name="pro_name"
                                        placeholder="Product Name" required>
                                 </div>
                                 <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control"  name="descrip"
                                        placeholder="Product Description" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="numbe" class="form-control"  name="price"
                                        placeholder="Product Price" required>
                                </div>
                                <div class="col-md-12 form-group">

                                    <button type="submit" value="submit" class="btn_3">
                                        Add Product
                                    </button>
                                </div>

                        </div>
                    </div>
                </div>
                 </form>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding2">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                              <!-- logo -->
                             <div class="footer-logo">
                                 <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                             </div>
                             <div class="footer-tittle">
                                 <div class="footer-pera">
                                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                             </div>
                         </div>
                       </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#"> Offers & Discounts</a></li>
                                    <li><a href="#"> Get Coupon</a></li>
                                    <li><a href="#">  Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>New Products</h4>
                                <ul>
                                    <li><a href="#">Woman Cloth</a></li>
                                    <li><a href="#">Fashion Accessories</a></li>
                                    <li><a href="#"> Man Accessories</a></li>
                                    <li><a href="#"> Rubber made Toys</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                 <li><a href="#">Frequently Asked Questions</a></li>
                                 <li><a href="#">Terms & Conditions</a></li>
                                 <li><a href="#">Privacy Policy</a></li>
                                 <li><a href="#">Privacy Policy</a></li>
                                 <li><a href="#">Report a Payment Issue</a></li>
                             </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row">
                 <div class="col-xl-7 col-lg-7 col-md-7">
                     <div class="footer-copy-right">
                         <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>                </div>
                 </div>
                  <div class="col-xl-5 col-lg-5 col-md-5">
                     <div class="footer-copy-right f-right">
                         <!-- social -->
                         <div class="footer-social">
                             <a href="#"><i class="fab fa-twitter"></i></a>
                             <a href="#"><i class="fab fa-facebook-f"></i></a>
                             <a href="#"><i class="fab fa-behance"></i></a>
                             <a href="#"><i class="fas fa-globe"></i></a>
                         </div>
                     </div>
                 </div>
             </div>
            </div>
        </div>

        <!-- Footer End-->
    </footer>


{% endblock %}